<div class="container-fluid">

  <div class="row">

    <div class="col-xs-4">
      <div class="card card-block">
        <% if user_signed_in? %>
          <h4 class="card-title">Your Account</h4>
          <p class="card-text"><%= link_to current_user.username, user_path(current_user.username) %></p>
          <p class="card-text">Votes</p>
        <% else %>
          <p class="card-text"><%= link_to "Sign up now!", signup_path %></p>
        <% end %>
        <ul class="list-group">
            <% @tweets.each do |tweet| %>
              <h6><%= tweet.votes_for.up.size %></h6>
                <% if user_signed_in? %>
                  <% if current_user.voted_up_on? tweet %>
                    <h6><%= link_to 'Unvote', unvote_tweet_path(tweet), method: :delete %></h6>
                  <% else %>
                    <h6><%= link_to 'Vote', vote_tweet_path(tweet), method: :post %></h6>
                  <% end %>
                <% end %>
              <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <% if user_signed_in? %>
        <center><%= link_to 'New Tweet', new_tweet_path %>
      <% end %>
      <ul class="list-group">
        <% @tweets.each do |tweet| %>
          <%= link_to tweet, class: "list-group-item list-group-item-action" do %>
            <h6 class="list-group-item-heading"><%=tweet.user.username %></h6>
            <h3 class="list-group-item-text"><%= tweet.content %></h3>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>