<!DOCTYPE html>
<html>
  <head>
    <title>Nucleo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Bad+Script|Boogaloo|Bungee+Shade|Cabin+Sketch|Caveat|Caveat+Brush|Chewy|Coming+Soon|Cormorant+SC|Crafty+Girls|Finger+Paint|Fredericka+the+Great|Handlee|Inika|Just+Me+Again+Down+Here|Kalam|Kite+One|Londrina+Outline|Loved+by+the+King|Medula+One|Merienda|Miltonian|Montserrat+Subrayada|Patrick+Hand+SC|Rancho|Rationale|Reenie+Beanie|Shadows+Into+Light+Two|Simonetta|Sniglet|Tillana|Warnes|Yatra+One" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-dark bg-#00112A">
      <div class="container">
        <%= link_to "Nucleo", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
          <!-- <li class="nav-item"><%= link_to "Tweets", tweets_path, class: "nav-link"%></li> -->
          <li class="nav-item"><%= link_to "Articles", articles_path, class: "nav-link"%></li>
          <li class="nav-item"><%= link_to "Reactions", reactions_path, class: "nav-link"%></li>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item pull-md-right"><%= link_to "Log out", signout_path, method: :delete, class: "btn btn-outline-secondary" %></li>
          <% else %>
            <li class="nav-item pull-md-right"><%= link_to "Sign-up", signup_path, class: "btn btn-outline-secondary" %></li>
            <li class="nav-item pull-md-right"><%= link_to "Sign-in", signin_path, class: "btn btn-outline-secondary" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- Flash Messages -->
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2016 Nucleo</p>
        </center>
      </div>
    </footer>

  </body>
</html>
